.background-img {
    margin: 3%;
    width: 50%;
}

body {
    background-color: black;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

html {
    background-color: black;
}

a > img:hover {
    border-radius: 900px;
    box-shadow: 0 0 100px 0 #a558b8;
}